# "Photoshopped" files
pyphotoshop/output/*
pyphotoshop/__pycache__/*

# Byte-compiled / optimized / DLL files
graph-composer/__pycache__/
graph-composer/*.py[cod]

# C extensions
graph-composer/*.so

# Distribution / packaging
graph-composer/bin/
graph-composer/build/
graph-composer/graph-composer/develop-eggs/
graph-composer/dist/
graph-composer/eggs/
graph-composer/lib/
graph-composer/lib64/
graph-composer/parts/
graph-composer/sdist/
graph-composer/var/
graph-composer/*.egg-info/
graph-composer/.installed.cfg
graph-composer/*.egg

# Installer logs
graph-composer/pip-log.txt
graph-composer/pip-delete-this-directory.txt

# Unit test / coverage reports
graph-composer/.tox/
graph-composer/.coverage
graph-composer/.cache
graph-composer/nosetests.xml
graph-composer/coverage.xml

# Translations
graph-composer/*.mo

# Mr Developer
graph-composer/.mr.developer.cfg
graph-composer/.project
graph-composer/.pydevproject

# Rope
graph-composer/.ropeproject

# Django stuff:
graph-composer/*.log
graph-composer/*.pot

# Sphinx documentation
graph-composer/docs/_build/